APP_NAME=Floranova
ENVIRONMENT=development
DATABASE_URL=sqlite+aiosqlite:///./floranova.db
SECRET_KEY=change-this-to-a-super-secret-random-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
STORE_NAME_FA=فلورانوا (بوتیک گلآرایی دیزاینر)
STORE_CITY=تهران
STORE_PHONE=۰۲۱-۲۲۰۰۳۳۴۴
